## A list is a Sequence Type

A <b>sequence type</b> that represent orered sets of objects indexed by non-negative integers.

Sometimes called a container — is simply an object that groups multiple elements into a single unit. Collections are used to store, retrieve, manipulate, and communicate aggregate data.

Are mutable.
A sequence of arbitrary objects.

In [3]:
myList = ["spam", 2.0, 5, [10,20]]
print(id(myList))
print(myList)

2160743562816
['spam', 2.0, 5, [10, 20]]

## Lists are mutable

In [9]:
myList[0] = "33"
print(id(myList))
print(myList)
myList[3][1] = "hooray"
print(myList[3])

2160743562816
['33', 33, 5, [10, 33]]
[10, 'hooray']

In [12]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
print(id(cheeses))

cheeses = ['Swiss', 'Goat', 'Provolone']
print(id(cheeses))

2160743509504
2160743559232

## Traversing a list

In [18]:
for c in cheeses:
    print(c)
    
for i in range(len(cheeses)): #0, 1, 2....left inclusive
    print(cheeses[i])

Swiss
Goat
Provolone
Swiss
Goat
Provolone

## List operations

In [5]:
# The + operator concatenates lists:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [6]:
# the operator * repeats a list a given number of times:
print([0] * 4)

print([1, 2, 3] * 3)

[0, 0, 0, 0]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
#The slice operator also works on lists:
t = ['a', 'b', 'c', 'd', 'e', 'f']
print(t[1:3]) #left-inclusive notation

print(t[:4])

print(t[3:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']

## List methods

Most list methods are void; they modify the list and return None. If you accidentally
write t = t.sort(), you will be disappointed with the result.

In [8]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [9]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

## Deleting elements

In [10]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)

print(x)

['a', 'c']
b

In [12]:
t = ['a', 'b', 'c']
del t[1]
print(t)

t = ['a', 'b', 'c', 'd', 'e', 'f']
del(t[1:5])
print(t)

['a', 'c']
['a', 'f']

In [13]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

## Lists and Functions

Exercise 1: Write a function called chop that takes a list and modifies it, removing the first
and last elements, and returns None.

Then write a function called middle that takes a list and returns a new list that
contains all but the first and last elements.

In [2]:
def chop(l):
    del l[len(l)-1]  #uses caller's list reference
    del l[0]
    
def middle(l):
    return l[1:-1]     #slice operator creates a new list
          
words = "1	0.000000	176.126.243.198	185.47.63.113	TCP	74	34515 → 19 [SYN] Seq=0 Win=14600 Len=0 MSS=1460 SACK_PERM=1 TSval=123439160 TSecr=0 WS=16"
wlist = words.split()
print(wlist)

print(chop(wlist))

print(wlist)

print(middle(wlist))

['1', '0.000000', '176.126.243.198', '185.47.63.113', 'TCP', '74', '34515', '→', '19', '[SYN]', 'Seq=0', 'Win=14600', 'Len=0', 'MSS=1460', 'SACK_PERM=1', 'TSval=123439160', 'TSecr=0', 'WS=16']
None
['0.000000', '176.126.243.198', '185.47.63.113', 'TCP', '74', '34515', '→', '19', '[SYN]', 'Seq=0', 'Win=14600', 'Len=0', 'MSS=1460', 'SACK_PERM=1', 'TSval=123439160', 'TSecr=0']
['176.126.243.198', '185.47.63.113', 'TCP', '74', '34515', '→', '19', '[SYN]', 'Seq=0', 'Win=14600', 'Len=0', 'MSS=1460', 'SACK_PERM=1', 'TSval=123439160']

Exercise 4: Download a copy of the file from www.py4e.com/code3/romeo.txt

Write a program to open the file romeo.txt and read it line by line. For each line,
split the line into a list of words using the split function.
For each word, check to see if the word is already in a list. If the word is not in
the list, add it to the list.

In [39]:
fhand = open("romeo.txt")
words = list() 
for line in fhand:
    line = line.strip()
    line = line.split()
    for word in line:
        if not word in words:
            words.append(word)
print(words)

['But', 'soft', 'what', 'light', 'through', 'yonder', 'window', 'breaks', 'It', 'is', 'the', 'east', 'and', 'Juliet', 'sun', 'Arise', 'fair', 'kill', 'envious', 'moon', 'Who', 'already', 'sick', 'pale', 'with', 'grief']

In [43]:
try:
    fhand = open('pcap.txt')
    count = 0
    for line in fhand:
        line.strip()
        line = line.translate(line.maketrans("\t",":",""))
        words = line.split(":")
        if "185.47.63.113" in words:
            print ('Debug:', words)
except Exception as e:
    print(e)

Debug: ['1', '0.000000', '176.126.243.198', '185.47.63.113', 'TCP', '', '74', '34515 â†’ 19 [SYN] Seq=0 Win=14600 Len=0 MSS=1460 SACK_PERM=1 TSval=123439160 TSecr=0 WS=16\n']
Debug: ['2', '0.000057', '185.47.63.113', '176.126.243.198', 'TCP', '', '74', '19 â†’ 34515 [SYN, ACK] Seq=0 Ack=1 Win=14480 Len=0 MSS=1460 SACK_PERM=1 TSval=493623320 TSecr=123439160 WS=128\n']
Debug: ['3', '0.007157', '176.126.243.198', '185.47.63.113', 'TCP', '', '66', '34515 â†’ 19 [ACK] Seq=1 Ack=1 Win=14608 Len=0 TSval=123439162 TSecr=493623320\n']
Debug: ['4', '0.007228', '176.126.243.198', '185.47.63.113', 'Chargen', '', '70', 'Chargen\n']
Debug: ['5', '0.007243', '185.47.63.113', '176.126.243.198', 'TCP', '', '66', '19 â†’ 34515 [ACK] Seq=1 Ack=5 Win=14592 Len=0 TSval=493623327 TSecr=123439162\n']
Debug: ['6', '0.007260', '176.126.243.198', '185.47.63.113', 'TCP', '', '66', '34515 â†’ 19 [FIN, ACK] Seq=5 Ack=1 Win=14608 Len=0 TSval=123439162 TSecr=493623320\n']
Debug: ['7', '0.022265', '185.47.63.113', '176.126.243.198', 'Chargen', '', '140', 'Chargen\n']
Debug: ['8', '0.022325', '185.47.63.113', '176.126.243.198', 'Chargen', '', '1514', 'Chargen\n']
Debug: ['9', '0.022359', '185.47.63.113', '176.126.243.198', 'Chargen', '', '1514', 'Chargen\n']
Debug: ['10', '0.022390', '185.47.63.113', '176.126.243.198', 'Chargen', '', '1514', 'Chargen\n']
Debug: ['11', '0.022422', '185.47.63.113', '176.126.243.198', 'Chargen', '', '1514', 'Chargen\n']
Debug: ['12', '0.022468', '185.47.63.113', '176.126.243.198', 'Chargen', '', '1514', 'Chargen\n']
Debug: ['13', '0.022500', '185.47.63.113', '176.126.243.198', 'Chargen', '', '1514', 'Chargen\n']
Debug: ['14', '0.022528', '185.47.63.113', '176.126.243.198', 'Chargen', '', '1514', 'Chargen\n']
Debug: ['15', '0.022561', '185.47.63.113', '176.126.243.198', 'Chargen', '', '1514', 'Chargen\n']
Debug: ['16', '0.022613', '185.47.63.113', '176.126.243.198', 'Chargen', '', '1514', 'Chargen\n']
Debug: ['17', '0.029566', '176.126.243.198', '185.47.63.113', 'TCP', '', '60', '34515 â†’ 19 [RST] Seq=6 Win=0 Len=0\n']
Debug: ['18', '0.029598', '176.126.243.198', '185.47.63.113', 'TCP', '', '60', '34515 â†’ 19 [RST] Seq=6 Win=0 Len=0\n']
Debug: ['19', '0.029607', '176.126.243.198', '185.47.63.113', 'TCP', '', '60', '34515 â†’ 19 [RST] Seq=6 Win=0 Len=0\n']
Debug: ['20', '0.029615', '176.126.243.198', '185.47.63.113', 'TCP', '', '60', '34515 â†’ 19 [RST] Seq=6 Win=0 Len=0\n']
Debug: ['21', '0.029619', '176.126.243.198', '185.47.63.113', 'TCP', '', '60', '34515 â†’ 19 [RST] Seq=6 Win=0 Len=0\n']
Debug: ['22', '0.029623', '176.126.243.198', '185.47.63.113', 'TCP', '', '60', '34515 â†’ 19 [RST] Seq=6 Win=0 Len=0']

## A Tuple is a Sequence Type

A <b>tuple</b> is a sequence of values much like a list. The values stored in a tuple can
be any type, and they are indexed by integers. The important difference is that
tuples are immutable.
<br>
Tuples are also comparable and hashable so we can sort lists
of them and use tuples as key values in Python dictionaries.
Syntactically, a tuple is a comma-separated list of values:

In [2]:
t = 'a', 'b', 'c', 'd', 'e'
t = ('a', 'b', 'c', 'd', 'e') #it is common to enclose tuples in parentheses
print(t)
print(type(t))
print(t[0], t[-1])

('a', 'b', 'c', 'd', 'e')
<class 'tuple'>
a e

In [5]:
t1 = ('a',) #To create a tuple with a single element, you have to include the final comma:

## Tuple Assignment

In [18]:
price, quantity , fruit = (19.95, 12, "banana")
print(price, quantity, fruit)

fruit, quantity, price = price,quantity,fruit
print(price, quantity, fruit)

t = ("banana",) #create a single element tuple must have trailing comma
print(type(t), t)

19.95 12 banana
banana 12 19.95
<class 'tuple'> ('banana',)

If the argument is a sequence (string, list, or tuple), the result of the call to tuple
is a tuple with the elements of the sequence:

In [3]:
t = tuple("hello")
print(t)

l = t[1:3] #slice operator selects a range of elements
print (l)

m = ["have", "fun"]
(x,y) = m
print(x)
print(y)

m.sort()  #sort elements in list
w = tuple(m)
print(w)

('h', 'e', 'l', 'l', 'o')
('e', 'l')
have
fun
('fun', 'have')

## Comparing Tuples

The comparison operators work with tuples and other sequences. Python starts by
comparing the first element from each sequence. If they are equal, it goes on to the
next element, and so on, until it finds elements that differ. Subsequent elements
are not considered (even if they are really big).

The <b>sort</b> function works the same way. It sorts primarily by first element, but in
the case of a tie, it sorts by second element, and so on.
This feature lends itself to a pattern called DSU for
Decorate a sequence by building a list of tuples with one or more sort keys
preceding the elements from the sequence,
Sort the list of tuples using the Python built-in sort, and
Undecorate by extracting the sorted elements of the sequence.

What is the following code snippet doing?

In [20]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
    t.append((len(word), word))
    
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)
print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

## Returning Multiple Values with Tuples

In [1]:
def readDate():
    print("Enter a date")
    month = int(input(" month: "))
    day = int(input(" day: "))
    year = int(input(" year: "))
    return (month, day, year)

date = readDate()
print(type(date))
print(date)


date = ("July", "15", 2020)
for d in date:
    print(d)

month, day, year = readDate()
print(f"{month}/{day}/{year}")

Enter a date
 month: 2
 day: 1
 year: 2020
<class 'tuple'>
(2, 1, 2020)
July
15
2020
Enter a date
 month: 2
 day: 1
 year: 2020
2/1/2020

Because tuples are hashable and lists are not, if we want to create a composite key
to use in a dictionary we must use a tuple as the key.
We would encounter a composite key if we wanted to create a telephone directory
that maps from last-name, first-name pairs to telephone numbers. Assuming that
we have defined the variables last, first, and number, we could write a dictionary
assignment statement as follows.
The expression in brackets is a tuple. We could use tuple assignment in a for loop
to traverse this dictionary.

In [4]:
directory = dict()
directory[("Sparrow","Jack")] = ("970-111-2345", "000-blak-pearl")
print(directory["Sparrow","Jack"])

for last, first in directory:
    print(first, last, directory[last,first])

('970-111-2345', '000-blak-pearl')
Jack Sparrow ('970-111-2345', '000-blak-pearl')